# Root .gitignore for Titan Gym Management System

# Environment Variables
.env
*.env

# Build outputs
dist/
build/
.cache/

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
